//Colours:

//COLOUR VARIABLES

//Colours
$black: #000;
$white: #fff;
$grey: #ccc;
$skyblue: #87ceeb;

//FONT AND SIZING VARIABLES
$primary-font: "Varela", sans-serif;
$x-small: 1rem;
$small: 1.1rem;
$medium: 1.2rem;
$large: 1.3rem;
$x-large: 1.4rem;
